<% content_for :title, "Projects" %>

<%= search_form_for @q do |f| %>
  <div>
    <%= f.label :title_cont, "Search by Project" %>
    <%= f.text_field :title_cont, :placeholder => "ex: OpenBridge" %>
    <%= f.submit :class => "btn btn-primary btn-block" %>
    <a href="/projects">Clear filters</a>
  </div>
  <br>
<% end %>

<h1>Projects</h1>

<div id="projects">
  <ul>
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.title, project %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Add a New Project", new_project_path %>
